* Has code to generate random numbers.
* When generating numbers for a game, the pool of numbers to pick from gets
  smaller as more numbers are drawn out, this will prevent the same number from
  being drawn out 2 or more times for a game. e.g., if you have the numbers
  1, 2, and 3 and you draw the number 3, then you will only have numbers 1 and
  2 to choose from for next time.
* User can choose the range of random numbers to choose from, e.g. from 1 to 20
  inclusive.
* User can choose to generate numbers for multiple games.
* Validations:
  * Number of games should be 1 or higher.
  * Minimum number in range should be less than maximum number in range
  * Number of random integers needed per game should be 1 or higher.
  * Number of random integers needed per game should be less than maximum number in range
* Give the user the option to sort the random numbers generated.
* Allow for the generation of 2 sets of random integers per game.